---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <img src = "https://user-images.githubusercontent.com/79959379/207043651-b61b6cf7-917e-4136-8295-15de302d465f.jpg" style="width:15%;"/>
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">김미숙 <br>Kim Mi Suk
                         <br>제주대학교 컴퓨터공학전공<br>이메일 : wjddlfla661@naver.com
                         <br>연락처 : 010-3062-1259
                    </p>
                </div>
                

                <section id="services" style="margin-top:50px; margin-bottom: 10%;">
                    <div class="container">
                        <h1 class="text-center" style="font-size: 25px; margin-bottom: 10px;"><strong>프로젝트</strong></h1>
                        <div class="row" style="display : flex">
                            <div class="col-lg-4 mt-4" style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>제주서점</strong></h2>
                                        <br>
                                        <p class="card-text mt-3" 
                                        style="padding-left: 30px; padding-right:30px;">제주도내의 대학들과 연동하여 교내 서점에 구비되어 있는 책들의 가격과 수량 등에 대한 정보, 교내 서점과 관련된 정보, 커뮤니티 기능을 가진 서비스입니다. 
                                            실제 대학 서점들과 연동하지 않고 자체적으로 데이터베이스를 만들어 구현하였습니다.</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>ABC가계부</strong></h2>
                                        <br>
                                        <p class="card-text mt-3"
                                        style="padding-left: 30px; padding-right:30px;">사람들이 흔히 사용하는 가계부를 구현한 것으로 문자 연동, 통계, 내역 작성, 계산 등의 기능을 제공하는 서비스입니다.
                                            개발을 공부하기 위해 클론코딩을 하며 구현하였습니다.
                                        </p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>NFT MARKETPLACE</strong></h2>
                                        <br>
                                        <p class="card-text mt-3"
                                        style="padding-left: 30px; padding-right:30px;">이더리움을 기반으로 소유하고 있는 NFT를 사고 파는 기능, 장바구니 기능, 서비스에 대한 정보 및 NFT와 사이트에 대한 정보를 제공하는 서비스입니다. 
                                        </p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row" style="display : flex">
                            <div class="col-lg-4 mt-4" style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>LOGFORCASH</strong></h2>
                                        <br>
                                        <p class="card-text mt-3"
                                        style="padding-left: 30px; padding-right:30px;">설문조사를 진행한 것을 바탕으로 NFT를 생성하고 이를 사고 파는 기능을 제공하는 서비스입니다.
                                            설문에 응한 사람, 설문을 만들고 판매하는 사람 모두 코인이라는 이익을 얻을 수 있다는 특징을 지니고 있습니다.
                                        </p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>IPNZZ</strong></h2>
                                        <br>
                                        <p class="card-text mt-3"
                                        style="padding-left: 30px; padding-right:30px;">요즘 사람들이 많이 이용하는 인생네컷을 어플로도 사용할 수 있도록 구현한 서비스입니다.
                                            지정된 프레임 중 원하는 프레임을 골라 사진을 찍어 갤러리에 저장할 수 있습니다.
                                        </p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>ORRREUM</strong></h2>
                                        <br>
                                        <p class="card-text mt-3"
                                        style="padding-left: 30px; padding-right:30px;">제주에만 존재하는 오름에 대한 상세한 정보들을 한눈에 볼 수 있도록 하며 각 활동에 따른 뱃지 기능, 북마크 기능 등을 제공하는 서비스입니다.</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </section>

                <section id="services" style="margin-top:50px;">
                    <div class="container">
                        <h1 class="text-center" style="font-size: 25px; margin-bottom: 10px;"><strong>+</strong></h1>
                        <div class="row" style="display : flex;">
                            <div class="col-lg-4 mt-4" style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>사용 가능 언어</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">HTML, CSS, JS <br> C, C++, C# <br> <strong>JAVA</strong> <br> Python <br>react, react-native</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>수상내역</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">2021 WISET-SGRG 은상 <br> 2022 스마트 AI SW 경진대회 장려상 <br> 2022 SW중심대학 간 공동창업 CAMP 대상 <br>2022 소프트웨어학부 전시회(인기상 및 장려상)</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>기타 활동</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">제주지역 사이버보안 인재 양성 교육(2021) <br> WISET J-Leaders(2022) <br>2022 빅콘테스트 데이터분석 부문 <br>인터렉티브 360VR 영상 제작 교육(2022)<br>해외 특공대(2022, Stockton University)</p> 
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </section>





            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>

<style>
    /* services section css */
    .servicesText.card {
        height: 280px;
        cursor: pointer;
    }
    .servicesIcon {
        font-size: 36px;
        text-align: center;
        width: 100%;
    }
    .card-title {
        text-align: center;
        font-size: 20px
    }
    /*
    .card:hover .servicesIcon {
        color: #008000;
    }
    .servicesText:hover {
        border: 1px solid #008000;
    }
</style>