---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <img src = "https://user-images.githubusercontent.com/79959379/207043651-b61b6cf7-917e-4136-8295-15de302d465f.jpg" style="width:15%;"/>
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">김미숙 <br>Kim Mi Suk
                         <br>제주대학교 컴퓨터공학전공<br>이메일 : wjddlfla661@naver.com
                         <br>연락처 : 010-3062-1259
                    </p>
                </div>
                

                <section id="services" style="margin-top:50px; margin-bottom: 10%;">
                    <div class="container">
                        <h1 class="text-center" style="font-size: 25px; margin-bottom: 10px;"><strong>프로젝트</strong></h1>
                        <div class="row" style="display : flex">
                            <div class="col-lg-4 mt-4" style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>제주서점</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">HTML, CSS, JS <br> C, C++, C# <br> <strong>JAVA</strong> <br> Python <br>react, react-native</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>ABC가계부</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">2021 WISET-SGRG 은상 <br> 2022 스마트 AI SW 경진대회 장려상 <br> 2022 SW중심대학 간 공동창업 CAMP 대상</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>NFT MARKETPLACE</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">제주지역 사이버보안 인재 양성 교육(2021) <br> WISET J-Leaders(2022) <br>2022 빅콘테스트 데이터분석 부문 <br>인터렉티브 360VR 영상 제작 교육(2022)</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row" style="display : flex">
                            <div class="col-lg-4 mt-4" style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>LOGFORCASH</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">HTML, CSS, JS <br> C, C++, C# <br> <strong>JAVA</strong> <br> Python <br>react, react-native</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>IPNZZ</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">2021 WISET-SGRG 은상 <br> 2022 스마트 AI SW 경진대회 장려상 <br> 2022 SW중심대학 간 공동창업 CAMP 대상</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>ORRREUM</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">제주지역 사이버보안 인재 양성 교육(2021) <br> WISET J-Leaders(2022) <br>2022 빅콘테스트 데이터분석 부문 <br>인터렉티브 360VR 영상 제작 교육(2022)</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </section>

                <section id="services" style="margin-top:50px;">
                    <div class="container">
                        <div class="row" style="display : flex;">
                            <div class="col-lg-4 mt-4" style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>사용 가능 언어</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">HTML, CSS, JS <br> C, C++, C# <br> <strong>JAVA</strong> <br> Python <br>react, react-native</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>수상내역</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">2021 WISET-SGRG 은상 <br> 2022 스마트 AI SW 경진대회 장려상 <br> 2022 SW중심대학 간 공동창업 CAMP 대상</p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-4 mt-4"  style="width: 100%;">
                                <div class="card servicesText">
                                    <div class="card-body">
                                        <h2 class="card-title mt-3" style="padding-top:20px;"><strong>기타 활동</strong></h2>
                                        <br>
                                        <p class="card-text mt-3">제주지역 사이버보안 인재 양성 교육(2021) <br> WISET J-Leaders(2022) <br>2022 빅콘테스트 데이터분석 부문 <br>인터렉티브 360VR 영상 제작 교육(2022)</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </section>





            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>

<style>
    /* services section css */
    .servicesText.card {
        height: 280px;
        cursor: pointer;
    }
    .servicesIcon {
        font-size: 36px;
        text-align: center;
        width: 100%;
    }
    .card-title {
        text-align: center;
        font-size: 20px
    }
    /*
    .card:hover .servicesIcon {
        color: #008000;
    }
    .servicesText:hover {
        border: 1px solid #008000;
    }
</style>